body {
    background-image: url(../img/elAteneo.png); /*Image from my favourite library in the World, found here https://latitude15.wordpress.com/tag/libreria-el-ateneo/ */
    background-size: cover;
    width: 100%;
    min-height: 900px;
    max-height: 900px;
}
#bookSpines {
    background-image: url(../img/books.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 500px;
    position: absolute;
    bottom:  0px;
    left: 0px;
}
#transparency {
    opacity: 0.8;
    background-color: white;
    width: 224px;
    height: 470px;
    position: absolute;
    top: 20px;
}
#bookSpines h2{
    font-size: 17px;
    padding-left: 10px;
    margin: 0;
    font-family: 'helvetica', sans-serif;
    color: black;
    text-align: left;
    opacity: 1;
    
    width: 180px;
    
}
#firstBook {
    padding-top: 10px;
    padding-bottom: 8px;
}
h2 a {
    color: #2D37B4;
}
#computer {
    background-image: url(../img/computer.png);
    background-repeat: no-repeat;
    width: 900px;
    height: 757px;
    position: absolute;
    background-size: cover;
    bottom:  0px;
    left: 300px;
}
#photoshop {
    position: absolute;
    left:82px;
    top:90px;
    width: 569px;
    height: 400px;
}
#photoshopHtml {
    max-height: 400px;
}
#photoshopBody {
    max-height: 400px;
    background-image: url(../img/transparency.jpg);
}
#photoshopBody img{
    max-width: 400px;
    max-height: 400px;
    
}
#photoshopBody a {
    color: #0D37B4;
}
#photoshopBody h3 {
    max-width: 500px;
}
@media screen and (max-height: 800px) {
    #computer {
    background-image: url(../img/computer.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 504px;
    position: absolute;
    background-size: cover;
    bottom:  0px;
    left: 300px;
}

#photoshop {
    position: absolute;
    left:52px;
    top:59px;
    width: 387.54px;
    height: 264px;
}

#photoshopBody img{
    max-width: 300px;
    max-height: 264px;
    
    
}
nav {
    position: absolute;
    bottom: 0;
    right: 0;
    
    }
nav li {
    float: none;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-family: 'Rubik one', sans-serif;
}
/* The colors for this there are selected using Paletton.com using the technic of complementary colors.*/
nav li a:hover{
    background-color: #7b5f45;
}
body {
    background-repeat: repeat;
    width: 100%;
    min-height: 600px;
    min-width: 800px;
}












