body {
    width: 99%;
    max-width: 1260px;
    margin: 0.5%;
    padding: 0;
    height: 100%;
    background-image: url(../img/page.png),url(../img/page2.png); /*http://www.publicdomainpictures.net/pictures/50000/velka/notebook-page.jpg*/
    background-repeat: no-repeat, repeat; /* the 2 background shenanigan here is to make the red lines in the page don't repeat*/
}




#wrapper {

    padding-left: 0.3px;
    width: 70%;

    min-height:100%;
	position:relative;
}

nav ul {
    list-style-type: none; /* Hide the bullet points from the UL                 items*/
    margin: 0; /* margin and padding to 0, to clear the blan space in the left */
    padding: 0;
    overflow: hidden; /* overflow is the scroll bar and is necessary if the menu get too big*/
    background-color: #FF7A00; /* a Green that match the red from Palleton */
    margin-top:3em;
}

section{
    float:left;
    background-color: white;
    padding-bottom: 100px;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Rubik one', sans-serif;
}
/* The colors for this there are selected using Paletton.com using the technic of complementary colors.*/
nav li a:hover{
    background-color: #7b5f45;
}
#letMeFinishBeforeStartTheClicking, .internalLinks {
    color: #FF7A00;
    text-decoration: underline;
}
p a{
    color: #0D37B4;
}
h1 {
    font-family: 'Bungee Inline', cursive;
    font-size:2em;
    text-align: center;
    
}
h1 a{
    color: #0D37B4;
    text-decoration: none;
    
}
h2 {
    font-family: 'Bungee Inline', cursive;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px #CCC;
    color: #313d31;
}
.studentNumber{
    font-family: 'Proza Libre', sans-serif;
    color:black;
}
h3 {
    font-family: 'Proza Libre', sans-serif;
    color: #313d31;
    padding-left: 1em;
}
p {
    padding-left:1em;
    padding-right: 1em;
    text-align: justify;
    text-justify: newspapper;    
   font-family: 'Maitree', serif;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.humility {
    text-decoration: line-through;
}
.inceptionSeparator {
    background-image: url(../img/spinningTop.png); /*https://foreverspin.com/*/
    height: 30px;
}

pre {
    max-width: 900px;
    height: 200px;
    overflow: scroll;
    
    
}
ul.responsiveList li{
    width:200px;
    float:left;
}
.clearThis {
    clear: both;
}
aside {
    float:right;
    width: 23%;
    height: 700px;
    background-image: url(../img/postit.png); /*https://midiatividades.files.wordpress.com/2012/10/post-it-note-with-push-pin.png*/
    background-repeat: no-repeat;
    background-size: cover; /*http://stackoverflow.com/questions/9262861/css-background-image-to-fit-width-height-should-auto-scale-in-proportion*/
    margin:0;
    padding-left: 2%;
}
aside h3 {
    font-size: 1.5em;
    padding-top: 2em;
    padding-left: 2em;
}
aside h3,h4 {
    padding-left: 1em;
    font-family: 'Annie Use Your Telescope', cursive;
}
aside p {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 1.2em;
}
footer {
    clear: both;
    text-align: center;
    width: 100%;
    background: white;
    
}
footer a {
    color:#0292A6;
    text-decoration: none;
}
footer p {
}
p a{
    color: #0D37B4;
    text-decoration: none;
}
blockquote a {
    color: #0D37B4;
    text-decoration: none;
}
.highLightThis {
    color:red !important;
}
.fullWImage {
    width:100%;
}
/*Mobile CSS */
@media screen and (max-width: 1020px) {
    section {
        float:none;
    }
    aside{
        margin-top: 50px;
        float:none;
        width: 100%;
        height:20em;
    }
    #wrapper {
        width: 100%;
        margin: 0 auto;
}
    aside h3{
        padding-left: 5em;
        padding-top: 3em;
        font-family: sans-serif;
        font-size: 15px;
    }
    aside h4 {
        padding-left: 3em;
        font-family: serif;
        font-size: 14px;
    }
    aside p{
        font-family: serif;
        font-size: 10px;
        padding-left: 30px;
        padding-right: 40px;
    }